@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

.person-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.person-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.person-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


.person-list .actions button:disabled{
    opacity: 0.5;
    cursor: default;
    
 }

.person-list .actions button:hover:not([desabled]){
   opacity: 0.7;
   
}

.person-list .pesquisa {
    color: #c2c2c2
}

.header_search_input{
    position: relative;
    align-items: center;
    height: 32px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    flex: 1;
    display: flex;
}

.ion-search {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    margin-left:5px;
    font-size: 18px;
}

.header_search_input input{
    width: 100%;
    font-size: 14px;
    height: 30px;
    padding: 5px 6px 5px 10px;
    line-height: 20px;
    background: none;
    border: none;
}

.header_search_input button{
    padding: 5px 6px 5px 5px;
    background: none;
    border: none;
    align-items: center;
}

.alerta{
    width: 500px;
    overflow: hidden;
    background: #dda18e;
    box-shadow: 0 0 20px rgb(156, 154, 154);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#confirmado{
    color: #2ecc71;
    font-size: 40px;
    display: none;
    margin: 20px 0;
}

#negado{
    color: #e74c3c;
    font-size: 40px;
    display: none;
    margin: 20px 0;
}

.fechar, .editar, .excluir{
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    background: #da552d;
    display: inline-block;
    border-radius: 4px;
    border: none;
    margin: 0px 8px;
}

.fechar{
    background: #da552d;
}
.editar{
    background: #3498db;
}
.excluir{
    background: #c0392b;
}

