.person-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.person-info h1{
    font-size: 32px;
}

.person-info p{
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

a{
   margin: 0 10px 0 0;;
}

button{
    margin: 0 0 0 10px;;
 }